@charset "utf-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

body {
color: #1A1A1A;
font-size: 12px;
line-height: 1.4;
margin: 0px;
}

body {
background-color: #FFFFFF;
}

p {
  margin: 0px;
}

a:link {
  color: #004CCA;
}

a:visited {
  color: #6219DB;
}

a:hover {
  color: #048ADE;
  text-decoration: none;
}

a:active {
  color: #048ADE;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
padding: 0px;
list-style: none;
margin:0;
}

h1{
    margin:0;
}

h2{
    margin:0;
}

.pr_img{
  overflow: hidden;
  position: relative;
}

img.pa_img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  display: block;
}

.oh {
    overflow: hidden;
}

.L {
    float: left;
}

.R {
    float: right;
}

.sp {
    display: none;
}

.pr {
  position: relative;
}

#menu {
    display: none;
}

.flex{
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.flex-sb{
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
}

.wrap{
  width: 1100px;
  margin:0 auto;
}



@media (max-width: 750px) {

.pc {
  display: none;
}

.sp {
  display: block;
}

/*spmenu~*/
.sp_hd {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}
.sp_pr {
    position: relative;
}
.slicknav_menu .slicknav_menutxt {
    display: none !important;
}
.slicknav_menu .slicknav_icon {
    width: 100%;
    margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
    width: 25px !important;
    height: 3px !important;
}
a.slicknav_btn {
    background: #fff;
    border-radius: 0px;
}
/*SPMENU kurukuru*/
a.slicknav_btn.slicknav_open span.slicknav_icon-bar:first-child {
    top: 5px;
    -moz-transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    transform: rotate(405deg);
    position: absolute;
}
a.slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(3) {
    top: 0.4px;
    -moz-transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    -ms-transform: rotate(-405deg);
    transform: rotate(-405deg);
    position: absolute;
}
a.slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(2) {
    opacity: 0;
}
span.slicknav_icon-bar {
    transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
}
.slicknav_menu .slicknav_icon {
    width: 100% !important;
    margin: 0 !important;
    float: none !important;
    position: relative;
}
/*kokomade*/
.slicknav_menu .slicknav_menutxt {
    display: none;
}
.slicknav_menu {
    background-color: #fff;
}
a.slicknav_btn {
    margin: 12px 3px 3px 0px;
    padding: 0px 0 0 0px;
    height: 25px;
    width: 25px;
}
.slicknav_menu .slicknav_icon {
    height: 16px !important;
    display: block;
}
.slicknav_menu .slicknav_icon:after {
    display: block;
    font-size: 70%;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
}
.slicknav_nav a {
    color: #333 !important;
    display: inline-block;
    font-weight: bold;
    line-height: 2;
    width: 100%;
    text-align: left;
    margin: 0;
    letter-spacing: normal;
    font-size: 80%;
    border: solid #ccc;
    border-width: 0 0px 1px 0;
    line-height: 30px;
    background-image: url(../img/sp_yaji.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-left: 25px;
}
/*~spmenu*/
.sp_hd_logo {
    position: absolute;
    width: 220px;
    top: 12.5px;
    left: 5px;
}

.sp_hd_tel {
    position: absolute;
    width: 20px;
    top: 12.5px;
    right: 5px;
}

.sp_hd_mail {
    position: absolute;
    width: 20px;
    top: 12.5px;
    right: 5px;
}

.wrap{
  max-width: 94%;
}

}






